.one{
    background-color: rgb(198, 166, 227);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 550px;
    top:25px;
    }
    .two{
        background-color: rgb(219, 218, 220);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 565px;
    top:25px;
    }
    .main-head{
    position: absolute;
    left: 602px;
    top: 60px;
    color: rgb(64, 2, 179);
    text-shadow: 2px 3px 4px skyblue;
    font-size: 30px;

    font-weight: bolder;
    }
    body{
        /*background-color: rgb(139, 132, 132);*/
        font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif' 
    }
    .img1{
    
        position: absolute;
        bottom:60px;
        right:350px;
        opacity: 0.2;
        border-radius: 50%;
        height: 650px;
        width:650px;
        z-index: 1;
    }
    .thead{
        color:rgb(22, 171, 42);
        border-bottom: 2px solid rebeccapurple;
        font-size: large;
    }
    .thead,th,td{
        padding:10px 20px;
       
    }
    .table2 td{
        font-size:20px;
    }
    .div1{
        position: absolute;
        top: 110px;
        left: 10px; 
        margin: 30px 5px;
        font-size: 170%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(41, 39, 40); 
        background-color: rgb(216, 210, 223);
        height: 800px;
    }
    .div2{
        position: absolute;
        top: 140px;
        left: 500px; 
        margin: 0px 0px;
        font-size: 99%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(41, 39, 40); 
        background-color: rgb(219, 218, 220);
        height: 800px;
        
    }
    
    input[type=text],input[type=number],input[type=email]{
        font-size: 80%;
        color:yellow;
        border-radius: 10px;
        background-color: rgb(154, 149, 149);
    }
    
    input[type=button]{
    font-size:90%;
    margin-left: 10px;
    float :right
    }
    
    textarea:focus, input:focus{
        outline: none;
        box-shadow: 0 0 10px rgb(55, 59, 56);
    }
    
    
