
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="crud1.js"></script>

		<link rel="stylesheet" href="index.css">

</head>

<body>
	<div class="container">
<div class="one"></div>
<div class="two"></div>
<div class="main-head">STUDENT REGISTRATION MANAGEMENT<span class="glyphicon glyphicon-user" style="color:rgb(148, 79, 197);font-size:80%"></span></div>

<img src="image.jpg" class="img1">

	<div ng-app="mainApp" ng-controller="CRUDController" >
		<div class="div1">
		<table class="table1">
			 
			 <tr>
				 <td>Registration Number</td>
				 <td><input type="number" ng-model="rno"></td>
			 </tr>
			 <tr>
				<td>Student Name:</td>
				<td><input type="text" ng-model="Student_Name" ></td> 
			</tr> 
			<tr>
				<td>Fathers Name:</td>
				<td><input type="text" ng-model="Father_Name"></td>
			</tr>
			<tr>
				<td>Mothers Name:</td>
				<td><input type="text" ng-model="Mother_Name" ></td>
			</tr>
			<tr>
				<td>DOB</td>
				<td><input type="text" ng-model="DOB"></td>

			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" ng-model="Email"></td>
			</tr>
			<tr>
				<td>Phone No:</td>
				<td><input type="text" ng-model="Phone_No" ></td>
			</tr> 
			<tr>
				<td>Gender:</td>
				<td><input type="Radio" value="male" ng-model="Gender"> male 
				<input type="Radio" value="female" ng-model="Gender">female</td>
			</tr>
			<tr>
				<td>UG / PG:</td>
				<td><input type="text" ng-model="Level"></td>
			</tr>
			<tr>
				<td>Department:</td>
				<td><input type="text" ng-model="Department" ></td>
			</tr>
			 <tr>
				 <td colspan="2">
					 <input type="button" ng-click="AddData()" value="Save" class="btn btn-success">
					 <input type="button" ng-click="UpdateData()" value="Update" class="btn btn-primary">
				 </td>
			 </tr>
		 </table>
		 </div>
		 <hr>
		 <div class="div2">
		 <table  class="table2" >
			 <tr class="thead">
				<th>Registration Number</th>
				<th>Student Name</th>
				<th>Father's Name</th>
				<th>Mother's Name</th>
				<th>DOB</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Gender</th>
				<th>UG / PG</th>
				<th>Department</th>

			 </tr>
			 <tr ng-click="BindSelectedData(stud)" ng-repeat="stud in STdetails">
				<td>{{stud.rno}}</td>
				<td>{{stud.Student_Name}}</td>
				<td>{{stud.Father_Name}}</td>
				<td>{{stud.Mother_Name}}</td>
				<td>{{stud.DOB}}</td>
				<td>{{stud.Email}}</td>
				<td>{{stud.Phone_No}}</td>
				<td>{{stud.Gender}}</td>
				<td>{{stud.Level}}</td>
				<td>{{stud.Department}}</td>
				 <td>
					 <button type="button" class="btn btn-danger" ng-click="DeleteData(stud)">
						 <span class="glyphicon glyphicon-trash" style="font-size: 100%;"></span>Delete
					 </button>
				 </td>
			 </tr>
		 </table>
		 </div>
	 </div>
	 <script src="crud1.js"></script>
	 </div>



</body>
</html>
